asciidoc*.html.markdown linguist-language=AsciiDoc
angularjs*.html.markdown linguist-language=JavaScript
bash*.html.markdown linguist-language=bash
bf.html.markdown linguist-language=Brainfuck
bf-*.html.markdown linguist-language=Brainfuck
c-*.html.markdown linguist-language=C
c.html.markdown linguist-language=C
c++*.html.markdown linguist-language=C++
chapel*.html.markdown linguist-language=Chapel
clojure*.html.markdown linguist-language=Clojure
cmake*.html.markdown linguist-language=CMake
coffeescript*.html.markdown linguist-language=CoffeeScript
coldfusion*.html.markdown linguist-language=ColdFusion
common-lisp*.html.markdown linguist-language=lisp
compojure*.html.markdown linguist-language=Clojure
csharp*.html.markdown linguist-language=C#
css*.html.markdown linguist-language=CSS
d.html.markdown linguist-language=D
d-*.html.markdown linguist-language=D
dart*.html.markdown linguist-language=Dart
edn*.html.markdown linguist-language=edn
elisp*.html.markdown linguist-language=elisp
elixir*.html.markdown linguist-language=Elixir
elm*.html.markdown linguist-language=Elm
erlang*.html.markdown linguist-language=Erlang
factor*.html.markdown linguist-language=Factor
forth*.html.markdown linguist-language=Forth
fortran*.html.markdown linguist-language=FORTRAN
fsharp*.html.markdown linguist-language=fsharp
go.html.markdown linguist-language=Go
go-*.html.markdown linguist-language=Go
groovy*.html.markdown linguist-language=Groovy
hack*.html.markdown linguist-language=Hack
haml*.html.markdown linguist-language=Haml
haskell*.html.markdown linguist-language=Haskell
haxe*.html.markdown linguist-language=Haxe
html*.html.markdown linguist-language=HTML
hy.html.markdown linguist-language=Hy
hy-*.html.markdown linguist-language=Hy
inform7*.html.markdown linguist-language=inform7
java.html.markdown linguist-language=Java
java-*.html.markdown linguist-language=Java
javascript*.html.markdown linguist-language=JavaScript
jquery*.html.markdown linguist-language=JavaScript
json*.html.markdown linguist-language=JSON
julia*.html.markdown linguist-language=Julia
kotlin*.html.markdown linguist-language=Kotlin
latex*.html.markdown linguist-language=latex
less*.html.markdown linguist-language=less
livescript*.html.markdown linguist-language=LiveScript
logtalk*.html.markdown linguist-language=Logtalk
lua*.html.markdown linguist-language=Lua
make*.html.markdown linguist-language=Makefile
markdown*.html.markdown linguist-language=Markdown
matlab*.html.markdown linguist-language=Matlab
nim*.html.markdown linguist-language=Nimrod
nix*.html.markdown linguist-language=Nix
objective-c*.html.markdown linguist-language=Objective-C
ocaml*.html.markdown linguist-language=OCaml
paren*.html.markdown linguist-language=lisp
pcre*.html.markdown linguist-language=Perl
perl.html.markdown linguist-language=Perl
perl-*.html.markdown linguist-language=Perl
perl6*.html.markdown linguist-language=Perl6
ruby*.html.markdown linguist-language=Ruby
